[submodule "external/solanaceae_util"]
	path = external/solanaceae_util
	url = https://github.com/Green-Sky/solanaceae_util.git
[submodule "external/solanaceae_plugin"]
	path = external/solanaceae_plugin
	url = https://github.com/Green-Sky/solanaceae_plugin.git
[submodule "external/solanaceae_contact"]
	path = external/solanaceae_contact
	url = https://github.com/Green-Sky/solanaceae_contact.git
[submodule "external/solanaceae_message3"]
	path = external/solanaceae_message3
	url = https://github.com/Green-Sky/solanaceae_message3.git
[submodule "external/entt/entt"]
	path = external/entt/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/toxcore/c-toxcore"]
	path = external/toxcore/c-toxcore
	url = https://github.com/Green-Sky/c-toxcore.git
	branch = ngc_events
[submodule "external/solanaceae_toxcore"]
	path = external/solanaceae_toxcore
	url = https://github.com/Green-Sky/solanaceae_toxcore.git
[submodule "external/solanaceae_tox"]
	path = external/solanaceae_tox
	url = https://github.com/Green-Sky/solanaceae_tox.git
[submodule "external/solanaceae_zox"]
	path = external/solanaceae_zox
	url = https://github.com/Green-Sky/solanaceae_zox.git
[submodule "external/solanaceae_ngc_ft1"]
	path = external/solanaceae_ngc_ft1
	url = https://github.com/Green-Sky/solanaceae_ngc_ft1.git
[submodule "external/solanaceae_toxic_games"]
	path = external/solanaceae_toxic_games
	url = https://github.com/Green-Sky/solanaceae_toxic_games.git
[submodule "external/solanaceae_ircclient"]
	path = external/solanaceae_ircclient
	url = https://github.com/Green-Sky/solanaceae_ircclient.git
[submodule "external/totato"]
	path = external/totato
	url = https://github.com/Green-Sky/totato.git
[submodule "external/solanaceae_bridge"]
	path = external/solanaceae_bridge
	url = https://github.com/Green-Sky/solanaceae_bridge.git
[submodule "external/solanaceae_crdtnotes"]
	path = external/solanaceae_crdtnotes
	url = https://github.com/Green-Sky/solanaceae_crdtnotes.git
